
.img-container--table-cell {
  position: relative;
  width: 350px;
  height: 250px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 0px solid darkgray;
  img {
    vertical-align: middle;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.jumbotron-upd {
  background-color: #ffffff;
}

.container-upd {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 50px;
  width: 80%;
}

.navbar-upd {
  width: 80%;
  margin: auto;
}
