
<div class="jumbotron">
  <div class="container">
    <h1>こよみの遊び場</h1>
    <div class="row">
      <% @toys.each do |toy| %>
         <%= render partial: 'home/toy', locals: { toy: toy } %>
      <% end %>
    </div>
  </div>
</div>
