<h1>タイトル</h1>

<form class="" action="index.html" method="post">
  <input type="text" name="input" value="" placeholder="１つ目の数字" class="form_control" id="input1"><br>
  <input type="test" name="input" value="" placeholder="２つ目の数字" class="form_control" id="input2"><br>
  <br>
  <p class="btn btn-primary" role="button">計算</p><br>
  <input type="text" name="output" value="" placeholder="答えが出力されます。" disabled onclick="calc">
</form>


<script type="text/javascript">
  calc = function() {
    alert("a")
  }

</script>
